body {    
  margin: 3cm 2cm 2cm;
  background: url('fondopdf.svg') repeat;     
  background-size: cover;
}

header{
  margin-top: 20px;
  position:fixed;
  line-height: 30px;
}
h1 {
  color: #5AB2BE;
  font-size:25px;
  font-weight:700;
  text-transform:uppercase;
  text-align: center;
}

label{
  color:#262626;
  letter-spacing:1px;
  font-weight:700;
  padding:10px 0 10px 0;
  clear:both;
  font-size:14px;
  text-transform:uppercase;
}

p{
	text-align: justify;
}

.page-break {
    page-break-after: always;
}
