.indexbody {    
    background: url('fondo.svg') no-repeat;     
    background-size: cover;
}

h1 {
  font-family: "Oswald", sans-serif;
  /*color: white;*/
  color: #464646;
  font-size: 70px;
  text-transform: uppercase;
  user-select: none;
  padding-top: 60px;
  pointer-events: none;
}

h1.azul {
  color: #5AB2BE;
}

a.btn.b {
  width: 170px;
  height: 43px;
  padding: 3px 0 0 3px;
  background: none;
  font-size: 14px;
  line-height: 35px;
  color: #5AB2BE;
  background-color: white;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

a.btn.b:hover {
  background-color: rgba(245, 245, 245, 0.4);
  color: #464646;
  border: 2px solid #5AB2BE;
  border-radius: 10px;
}

/**********************FLIP CARD*****************************/

.flip-card {
  margin-top: 60px;
  background-color: transparent;
  width: 500px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  /*position: relative;*/
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  float: right;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  width: 500px;
  height: 400px;
  background-color: #5AB2BE;
  color: white;
  transform: rotateY(180deg);
}

.card {
  background: no-repeat;
  max-width: 300px;
  margin-left: 100px;
  margin-top: 10px;
  text-align: center;
  font-family: arial;
}
