html{
    background-color: #FAFAFB;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #FAFAFB;
}

.btn-upload-img {
    margin-top:25px;
    width: 70%;
    position: relative;
    overflow: hidden;
    margin-top: 10%;
    border: none;
    border-radius: 0;
    font-size: 13px;
    background: #212529b8;
}
.btn-upload-img input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.profile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #5AB2BE;
    background-color: #FAFAFB;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #5AB2BE;
}

.nav-link {
    color: #5AB2BE;
}

td > a {
    color: #5AB2BE;
}

td > a:hover {
    color: #495057;
}