#up_button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  /*z-index: 99;*/
  font-size: 18px;
  background-color: #e3f2fd;
  color: #5AB2BE;
  cursor: pointer;
  padding: 7px 12px;
}

#up_button:hover {
  background-color: white;
  color: #5AB2BE;
  border: 1px solid #5AB2BE;
}

