body {    
  background: url('fondoListado.svg');     
}

/* EFECTO IMAGEN CON OVERLAY DEL AUTOR Y EL NOMBRE*/
.imagebox {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
}

.imagebox:hover img {
  opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
  padding-bottom: 10%;
}

/* SIDEBAR */
#sidebar{
  float:left;
  /*background:#fff;*/
  width:275px;  
  padding:13px 0 0 45px;
  height:500px;
  border-right:1px solid #eee;
}
#sidebar h3{
  color:#262626;
  text-transform:uppercase;
  font-size:14px;
  font-weight:700;
  padding:35px 0 10px 0;
  letter-spacing:1px;
  clear:both;
}

#sidebar h5{
  color:#262626;
  text-transform:uppercase;
  font-size:12px;
  font-weight:500;
  padding-left: 12px;
  letter-spacing:1px;
  clear:both;
}

}
#sidebar .radiob{
  padding:0;
}

.radiob label{ 
  font-size:14px;
  font-weight:400;
  list-style:none;
  padding: 10px 0 7px 12px;
  color:#676a74;
}

input[type='radio'] {
  margin-left: 30px;
}

li.ui-menu-item{
  border: 1px solid #5AB2BE round;
}

.ui-menu-item div:hover{
  background-color: #5AB2BE;
  border: 1px solid #5AB2BE;
}

