.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 12px;
}

footer {
  position: fixed;
	width: 100%;
	height: 150px;
	padding-top: 3.5em;
	right: 0;
  bottom: 0;
  left: 0;
	background: url('footer.svg') no-repeat center;     
  background-size: cover;
}
