body {    
  background: url('fondoMostrar.svg');     
}

.nav-link{
    color: #5AB2BE;
}

.nav-link:hover {
    color: #495057;
}

label {
	  color:#262626;
  	text-transform:uppercase;
  	font-size:14px;
  	font-weight:700;
  	padding:35px 0 10px 0;
  	letter-spacing:1px;
  	clear:both;
}

p{
	text-align: justify;
}


.overlay {
  position: absolute;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #464646;
  border-radius: 12px;
}

.overlay:hover {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
