html {
  background: url("welcome_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
}

body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  color: #5AB2BE;
  font-weight: 500;
  font-size: 20px;
  /*text-transform: uppercase;*/
  user-select: none;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
}


.center {
  position: absolute;
  margin: auto;
  top: 40em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 581px;
  height: 50%;
}

.button {
  margin: 0 auto;
  width: 170px;
  height: 60px;
  padding: 3px 0 0 3px;
  background: none;
  font-size: 14px;
  line-height: 54px;
  color: #464646;
  letter-spacing: .25em;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

.button:hover {
  background-color: rgba(245, 245, 245, 0.4);
  color: #5AB2BE;
  border: 2px solid #5AB2BE;
  border-radius: 10px;
}